# Copyright (c) 2021 Huawei Device Co., Ltd.
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

type softbus_server, domain, coredomain, mlstrustedsubject;

domain_auto_trans(softbus_server, samain_exec, softbus_server)

binder_call(softbus_server, samgr)
binder_call(samgr, softbus_server)

domain_trans(init, samain_exec, softbus_server)

#avc: denied { call } for pid=6867 comm="softbus_server" scontext=u:r:logd:s0 tcontext=u:r:samgr:s0 tclass=binder permissive=1
#avc: denied { transfer } for pid=6867 comm="softbus_server" scontext=u:r:logd:s0 tcontext=u:r:samgr:s0 tclass=binder permissive=1
allow softbus_server samgr:binder { call transfer };