<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chinasoft.backend.mapper.RestaurantFacilityMapper">

    <resultMap id="BaseResultMap" type="com.chinasoft.backend.model.entity.RestaurantFacility">
        <id property="id" column="id" jdbcType="BIGINT"/>
        <result property="name" column="name" jdbcType="VARCHAR"/>
        <result property="introduction" column="introduction" jdbcType="VARCHAR"/>
        <result property="longitude" column="longitude" jdbcType="VARCHAR"/>
        <result property="latitude" column="latitude" jdbcType="VARCHAR"/>
        <result property="type" column="type" jdbcType="VARCHAR"/>
        <result property="startTime" column="start_time" jdbcType="TIME"/>
        <result property="closeTime" column="close_time" jdbcType="TIME"/>
        <result property="status" column="status" jdbcType="INTEGER"/>
        <result property="expectTime" column="expect_time" jdbcType="INTEGER"/>
        <result property="maxCapacity" column="max_capacity" jdbcType="INTEGER"/>
        <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
        <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
        <result property="isDeleted" column="is_deleted" jdbcType="INTEGER"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,name,introduction,
        longitude,latitude,type,
        start_time,close_time,
        expect_time, max_capacity
        status,create_time,update_time,
        is_deleted
    </sql>
</mapper>
