# Copyright (c) 2021 Huawei Device Co., Ltd.
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

type eventmgr, domain, coredomain, mlstrustedobject;

domain_auto_trans(eventmgr, samain_exec, eventmgr)

allow eventmgr system_data_file:dir { create relabelfrom rw_dir_perms rmdir };
# use_hilog(eventmgr)
binder_call(eventmgr, eventmgr)
binder_call(eventmgr, system_server)
binder_call(eventmgr, servicemanager)
binder_call(eventmgr, system_app)
binder_call(eventmgr, platform_app)
binder_call(eventmgr, logd)
allow eventmgr samgrservice:service_manager { find };
binder_call(eventmgr, samgr)
domain_trans(init, samain_exec, eventmgr)
